@tailwind base;
@tailwind components;
@tailwind utilities;

.txt-center {
  text-align: center;
}

.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
  text-align: center;
  position: relative;
  direction: rtl;
}

.rating > label {
  display: inline;
  padding: 0;
  margin: auto;
  position: relative;
  width: auto;
  height: auto;
  font-size: 2em;
  cursor: pointer;
  color: #b4c0d8;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
  /* color: orange; */
  color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #ffd700;
}

*,
::before,
::after {
  box-sizing: border-box;
}
