{{! We also need a form to allow our users to add a room to our airbnb in the application. }}


          <section class="text-blueGray-700">
            <div class="container items-center px-5 py-12 lg:px-20">
              <div class="
            flex flex-col
            w-full
            max-w-md
            p-10
            mx-auto
            my-6
            transition
            duration-500
            ease-in-out
            transform
            bg-white
            rounded-lg
            md:mt-0
          ">
                <div class="mt-8">
                  <div class="mt-6">
                    <form action="#" method="POST" class="space-y-6" data-bitwarden-watching="1">
                      <div>
                        <label for="email" class="block text-sm font-medium text-neutral-600"> Email address </label>
                        <div class="mt-1">
                          <input id="email" name="email" type="email" autocomplete="email" required="" placeholder="Your Email" class="
                        block
                        w-full
                        px-5
                        py-3
                        text-base text-neutral-600
                        placeholder-gray-300
                        transition
                        duration-500
                        ease-in-out
                        transform
                        border border-transparent
                        rounded-lg
                        bg-gray-50
                        focus:outline-none
                        focus:border-transparent
                        focus:ring-2
                        focus:ring-white
                        focus:ring-offset-2
                        focus:ring-offset-gray-300
                      ">
                        </div>
                      </div>
                      <div class="space-y-1">
                        <label for="password" class="block text-sm font-medium text-neutral-600"> Password </label>
                        <div class="mt-1">
                          <input id="password" name="password" type="password" autocomplete="current-password" required="" placeholder="Your Password" class="
                        block
                        w-full
                        px-5
                        py-3
                        text-base text-neutral-600
                        placeholder-gray-300
                        transition
                        duration-500
                        ease-in-out
                        transform
                        border border-transparent
                        rounded-lg
                        bg-gray-50
                        focus:outline-none
                        focus:border-transparent
                        focus:ring-2
                        focus:ring-white
                        focus:ring-offset-2
                        focus:ring-offset-gray-300
                      ">
                        </div>
                      </div>
                      <div class="flex items-center justify-between">
                        <div class="flex items-center">
                          <input id="remember-me" name="remember-me" type="checkbox" placeholder="Your password" class="
                        w-4
                        h-4
                        text-blue-600
                        border-gray-200
                        rounded
                        focus:ring-blue-500
                      ">
                          <label for="remember-me" class="block ml-2 text-sm text-neutral-600"> Remember me </label>
                        </div>
                        <div class="text-sm">
                          <a href="#" class="font-medium text-blue-600 hover:text-blue-500"> Forgot your password? </a>
                        </div>
                      </div>
                      <div>
                        <button type="submit" class="
                      flex
                      items-center
                      justify-center
                      w-full
                      px-10
                      py-4
                      text-base
                      font-medium
                      text-center text-white
                      transition
                      duration-500
                      ease-in-out
                      transform
                      bg-blue-600
                      rounded-xl
                      hover:bg-blue-700
                      focus:outline-none
                      focus:ring-2
                      focus:ring-offset-2
                      focus:ring-blue-500
                    "> Sign in </button>
                      </div>
                    </form>
                    <div class="relative my-4">
                      <div class="absolute inset-0 flex items-center">
                        <div class="w-full border-t border-gray-300"></div>
                      </div>
                      <div class="relative flex justify-center text-sm">
                        <span class="px-2 text-neutral-600 bg-white"> Or continue with </span>
                      </div>
                    </div>
                    <div>
                      <button type="submit" class="
                    w-full
                    items-center
                    block
                    px-10
                    py-3.5
                    text-base
                    font-medium
                    text-center text-blue-600
                    transition
                    duration-500
                    ease-in-out
                    transform
                    border-2 border-white
                    shadow-md
                    rounded-xl
                    focus:outline-none
                    focus:ring-2
                    focus:ring-offset-2
                    focus:ring-gray-500
                  ">
                        <div class="flex items-center justify-center">
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="w-6 h-6" viewBox="0 0 48 48">
                            <defs>
                              <path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"></path>
                            </defs>
                            <clipPath id="b">
                              <use xlink:href="#a" overflow="visible"></use>
                            </clipPath>
                            <path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z"></path>
                            <path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"></path>
                            <path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"></path>
                            <path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"></path>
                          </svg>
                          <span class="ml-4"> Log in with Google</span>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        

<h2 class="text-center">New Review From: {{user.id}} </h2>

<form action="/reviews/new" method="POST" id="form-container">
  {{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
  {{/if}}

      <fieldset id="group1">
  <p class="text-center">How would you rate your system overall?</p>
  <div class="rating">
    <input  id="star1.5" name="overallScore" type="radio" value="5" class="radio-btn hide"  />
    <label for="star1.5">☆</label>
    <input  id="star1.4" name="overallScore" type="radio" value="4" class="radio-btn hide" />
    <label for="star1.4">☆</label>
    <input  id="star1.3" name="overallScore" type="radio" value="3" class="radio-btn hide" />
    <label for="star1.3">☆</label>
    <input  id="star1.2" name="overallScore" type="radio" value="2" class="radio-btn hide" />
    <label for="star1.2">☆</label>
    <input  id="star1.1" name="overallScore" type="radio" value="1" class="radio-btn hide" />
    <label for="star1.1">&#9733</label>
    <div class="clear"></div>
  </div>
    </fieldset>

      <fieldset id="group2">

  <p class="text-center">How would you rate the features?</p>
  <div class="rating">
    <input  id="star2.5" name="features" type="radio" value="5" class="radio-btn hide"  />
    <label for="star2.5">☆</label>
    <input  id="star2.4" name="features" type="radio" value="4" class="radio-btn hide" />
    <label for="star2.4">☆</label>
    <input  id="star2.3" name="features" type="radio" value="3" class="radio-btn hide" />
    <label for="star2.3">☆</label>
    <input  id="star2.2" name="features" type="radio" value="2" class="radio-btn hide" />
    <label for="star2.2">☆</label>
    <input  id="star2.1" name="features" type="radio" value="1" class="radio-btn hide" />
    <label for="star2.1">☆</label>
    <div class="clear"></div>
  </div>
  </fieldset>

  <p class="text-center">How easy is it to use?</p>
  <div class="rating">
    <input  id="star3.5" name="easyToUse" type="radio" value="5" class="radio-btn hide"  />
    <label for="star3.5">☆</label>
    <input  id="star3.4" name="easyToUse" type="radio" value="4" class="radio-btn hide" />
    <label for="star3.4">☆</label>
    <input  id="star3.3" name="easyToUse" type="radio" value="3" class="radio-btn hide" />
    <label for="star3.3">☆</label>
    <input  id="star3.2" name="easyToUse" type="radio" value="2" class="radio-btn hide" />
    <label for="star3.2">☆</label>
    <input  id="star3.1" name="easyToUse" type="radio" value="1" class="radio-btn hide" />
    <label for="star3.1">☆</label>
    <div class="clear"></div>
  </div>

  <p class="text-center">How would you rate the customer support?</p>
  <div class="rating">
    <input  id="star4.5" name="customerSupport" type="radio" value="5" class="radio-btn hide"  />
    <label for="star4.5">☆</label>
    <input  id="star4.4" name="customerSupport" type="radio" value="4" class="radio-btn hide" />
    <label for="star4.4">☆</label>
    <input  id="star4.3" name="customerSupport" type="radio" value="3" class="radio-btn hide" />
    <label for="star4.3">☆</label>
    <input  id="star4.2" name="customerSupport" type="radio" value="2" class="radio-btn hide" />
    <label for="star4.2">☆</label>
    <input  id="star4.1" name="customerSupport" type="radio" value="1" class="radio-btn hide" />
    <label for="star4.1">☆</label>
    <div class="clear"></div>
  </div>

  <p class="text-center">How well do they distribute your products to OTAs?</p>
  <div class="rating">
    <input  id="star5.5" name="distribution" type="radio" value="5" class="radio-btn hide"  />
    <label for="star5.5">☆</label>
    <input  id="star5.4" name="distribution" type="radio" value="4" class="radio-btn hide" />
    <label for="star5.4">☆</label>
    <input  id="star5.3" name="distribution" type="radio" value="3" class="radio-btn hide" />
    <label for="star5.3">☆</label>
    <input  id="star5.2" name="distribution" type="radio" value="2" class="radio-btn hide" />
    <label for="star5.2">☆</label>
    <input  id="star5.1" name="distribution" type="radio" value="1" class="radio-btn hide" />
    <label for="star5.1">☆</label>
    <div class="clear"></div>
  </div>

  {{! <div>
    <label for="features">How would you rate the features?</label>
    <input id="features" type="number" name="features" value="4" />
  </div>

  <div>
    <label for="easyToUse">How easy is it to use?</label>
    <input id="easyToUse" type="number" name="easyToUse" value="4" />
  </div>

  <div>
    <label for="customerSupport">How would you rate the customer support?</label>
    <input id="customerSupport" type="number" name="customerSupport" value="4" />
  </div>

  <div>
    <label for="distribution">How well do they distribute your products?</label>
    <input id="distribution" type="number" name="distribution" value="4" />
  </div> }}

  <div class="text-center">
    <label for="proBullets">What do you love about this system?</label><br>
    <input  id="proBullets" type="text" name="proBullets[]" value="PRO1" />
    <input  id="proBullets" type="text" name="proBullets[]" value="PRO2" />
    <input  id="proBullets" type="text" name="proBullets[]" value="PRO3" />
  </div>

  <div class="text-center">
    <label for="conBullets">What do you wish was better?</label><br>
    <input  id="conBullets" type="text" name="conBullets" value="CON1" />
  </div>

  <div class="text-center">
    <label for="reviewTitle">Finally, give your review a title</label><br>
    <input  id="reviewTitle" type="text" name="reviewTitle" value="Review Title" />
  </div>

  <div class="text-center">
    <button>Leave Review</button>
  </div>

</form>